<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Stocks</h1>
    <%= link_to "New stock", new_admin_product_stock_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
    <div id="admin_stock" class="min-w-full mt-8">
      <% @admin_stocks.each do |stock| %>
      <div class="bg-white p-6 rounded-lg shadow mt-2">
        <p class="text-xl mb-1">Attribute Name: <%= stock.name %></p>
        <p class="text-xl mb-1">value: <%= stock.value %></p>
      </div>
      <div>
        <%= link_to "Edit this stock", edit_admin_product_stock_path(stock.product.id, stock.id), class: "ml-2 rounded-lg py-3 px-5 inline-block font-medium" %>
        <%= link_to "Show this stock", admin_product_stock_path(stock.product.id, stock.id), class: "ml-2 rounded-lg py-3 px-5 inline-block font-medium" %>
        <%= link_to "Back to product", admin_product_path(stock.product.id), class: "ml-2 rounded-lg py-3 px-5 inline-block font-medium" %>
      </div>
      <% end %>
  </div>
</div>